body {
  text-align: center;
    background: #d88cf6;
    justify-content: center;
    align-items: center;
  }
.computer{
  margin: auto;
  height: 250px;
  width: 250px;
  
}
.ck {
  animation: mc 0.8s linear;
}
.pk {
  animation: mp 0.8s linear;
}
@keyframes mc {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes mp {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.player{
  margin: auto;
  height: 250px;
  width: 250px;
  
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.bu{
  margin-top:100px;
}

.b{
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#ffffff;
  border-color:#a511c0;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  text-shadow:inset 0px 1px 0px #9b14b3;
  background:linear-gradient(#c123de, #a20dbd);
}

.b:hover {
  background: linear-gradient(#a20dbd, #c123de);
}
.hhh{
  font-family: Akaya Kanadaka, display;
    font-size: 55px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 22.1px;
    text-shadow: 3px 4px 14px rgb(52, 43, 49);
}   
@media (width<=720px) {
  .hhh{
    font-size:35px;
    letter-spacing: 10px;
  }
  #c{
    
    height: 150px;
    width: 150px;

}
#p{
  height: 150px;
  width: 150px;}
  .bu{
    margin-top:10px;
  }
}

